html{
	font-family: Microsoft YaHei, Arial;
}
body {
	line-height: 1.15;
	font-size: 12px;
}

/* body, div, ul, li, p, input, a, img, span{ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #999;
	text-decoration: none;
}

li {
	list-style: none;
}

.red {
	color: red;
}

/*顶部导航条*/
.headerTopside {
	height: 30px;
	width: 100%;
	background-color: #f4f4f4;
}

.headTopcenter {
	width: 1280px;
	margin: 0 auto;
	font-size: 12px;
	color: #999;
	line-height: 30px;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}

.headerTopside .headTopcenter .headTopright .floatRight {
	float: left;
	margin-left: 24px;
}

.headerTopside .headTopcenter .headTopright .floatRight .m {
	margin-left: 24px;
}

.headerTopside .headTopcenter .headTopright .floatRight .marginLeft {
	margin-left: 3px;
}

.headerTopside .headTopcenter .headTopright .floatRight ._flex {
	display: -webkit-flex;
	display: flex;
}

.headerTopside .headTopcenter .search {
	background: url(../images/01_search.png) no-repeat 0px;
	padding-left: 14px;
}

.marginTop9 {
	margin-top: 9px;
}

/*顶部导航条结束*/
/* 导航栏开始 */
.defaultHeader {
	width: 100%;
	height: 60px;
	font-size: 18px;
	color: #000;
}

.defaultHeader .defaultTopF2 {
	width: 1280px;
	margin: 0 auto;
	padding-top: 30px;
}
.defaultHeader .defaultTopF2 ul li a{
	color:#000;
}

.defaultHeader .defaultTopF2 .paddingBottom {
	padding-bottom: 1px;
}

.defaultHeader ul {
	display: inline-block;
}

.defaultHeader ul li {
	float: left;
	margin-left: 36px;
}

/* 导航栏结束 */
/* 主体部分 */
.main_outerDiv {
	width: 100%;
	height: 800px;
}
.main_outerDiv .mainDivimg{
	overflow: hidden;
}
.main_outerDiv .login_box {
	position: absolute;
	left: 60%;
	top: 240px;
	width: 402px;
	height: 800px;
}

.main_outerDiv .login_box .login_wrapper {
	positon: absolute;
	width: 400px;
	height: 440px;
	background-color: #fff;
}

.main_outerDiv .login_box .login_ph {
	height: 50px;
	background-color: #e6e6e6;
	line-height: 50px;
	font-size: 24px;
	text-align: center;
}

.main_outerDiv .login_box .login_wrapper .init_login {
	width: 286px;
	height: 266px;
	margin: 30px auto;
}
.main_outerDiv .login_box .login_wrapper .init_login #span_btn{
	font-size: 16px;
}
.main_outerDiv .login_box .login_wrapper .init_login .username {
	position: relative;
	width: 100%;
	height: 46px;
	border: 1px solid #e6e6e6;
}

.main_outerDiv .login_box .login_wrapper .init_login .username span {
	position: absolute;
	top: 18px;
	right: 8px;
}

.main_outerDiv .login_box .login_wrapper .init_login .username input {
	position: absolute;
	left: 42px;
	top: 13px;
	width: 130px;
	height: 24px;
	padding-left: 16px;
	line-height: 24px;
	border: none;
	border-left: 1px solid #e6e6e6;
}

.main_outerDiv .login_box .login_wrapper .init_login .username .text_r {
	display: inline-block;
	position: absolute;
	top: 13px;
	left: 15px;
	width: 12px;
	height: 21px;
	background: url(../images/01_phone.png) no-repeat;
}

.main_outerDiv .login_box .login_wrapper .init_login .sec_wrapper {
	position: relative;
	width: 100%;
}

.main_outerDiv .login_box .login_wrapper .init_login .sec_wrapper .security {
	position: relative;
	margin-top: 20px;
	width: 180px;
	height: 46px;
	border: 1px solid #e6e6e6;
}

.main_outerDiv .login_box .login_wrapper .init_login .sec_wrapper .security .text_s {
	position: absolute;
	left: 15px;
	top: 20px;
	width: 13px;
	height: 11px;
	background: url(../images/01_jian.png) no-repeat;
}

.main_outerDiv .login_box .login_wrapper .init_login .sec_wrapper .security input {
	position: absolute;
	left: 42px;
	top: 13px;
	width: 118px;
	height: 24px;
	padding-left: 16px;
	line-height: 24px;
	border: none;
	border-left: 1px solid #e6e6e6;
}

.main_outerDiv .login_box .login_wrapper .init_login .sec_wrapper #picyzm {
	position: absolute;
	right: 0px;
	top: 1px;
	width: 100px;
	height: 46px;
}

.main_outerDiv .login_box .login_wrapper .init_login .password {
	position: relative;
	margin-top: 20px;
	width: 100%;
	height: 46px;
	border: 1px solid #e6e6e6;
}

.main_outerDiv .login_box .login_wrapper .init_login .password span {
	position: absolute;
	top: 18px;
	right: 8px;
}

.main_outerDiv .login_box .login_wrapper .init_login .password .text_p {
	position: absolute;
	left: 15px;
	top: 20px;
	width: 13px;
	height: 11px;
	background: url(../images/01_jian.png) no-repeat;
}

.main_outerDiv .login_box .login_wrapper .init_login .password input {
	position: absolute;
	left: 42px;
	top: 13px;
	width: 118px;
	height: 24px;
	padding-left: 16px;
	line-height: 24px;
	border: none;
	border-left: 1px solid #e6e6e6;
}

.main_outerDiv .login_box .login_wrapper .init_login .rule {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	line-height: 20px;
	font-size: 14px;
	color: #a1a1a1;
}

.main_outerDiv .login_box .login_wrapper .init_login .rule .rule_text {
	position: absolute;
	top: 0;
	right: 2px;
	width: 252px;
}

.main_outerDiv .login_box .login_wrapper .init_login .rule span {
	color: #0068ff;
}

/* .main_outerDiv .login_box .login_wrapper .init_login .password{
	position:relative;
	margin-top:20px;
	width:100%;
	height:46px;
	border:1px solid #e6e6e6;
}
.main_outerDiv .login_box .login_wrapper .init_login .password input{
	width:159px;
	height:42px;
	padding-left:14px;
	line-height:42px;
	border:none;
}
.main_outerDiv .login_box .login_wrapper .init_login .password .pass_btn{
	height:46px;
	width:108px;
	line-height:44px;
	background: #e6e6e6;
	color:#666;
	border:none;
	font-size: 13px;
} */
.main_outerDiv .login_box .login_wrapper .init_login .login_btn {
	width: 286px;
	height: 46px;
	background: #000000;
	color: #fff;
	border: none;
	margin-top: 45px;
}

.main_outerDiv .login_box .login_wrapper .tip {
	background-color: #f3f3f3;
	height: 50px;
	color: #999;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding: 14px 56px 0 57px;
}

/* 主体部分结束 */
/* 服务部分 */
.footer_wrap .line1 {
	width: 100%;
	background-color: #000000;
	height: 1px;
}

.footer_wrap .footer {
	width: 1280px;
	height: 214px;
	margin: 45px auto;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer_wrap .footer .container1 {
	width: 280px;
	text-align: center;
}

.footer_wrap .footer .container1 .hotimg {
	margin-bottom: 20px;
}

.footer_wrap .footer .container1 .textTitle {
	font-size: 14px;
	margin-bottom: 20px;
}

.footer_wrap .footer .container1 .bookNow {
	width: 155px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: #000000;
	cursor: pointer;
	line-height: 30px;
	border: none;
}

.footer_wrap .footer .columnLine {
	width: 1px;
	height: 100%;
	background-color: #000;
}

.footer_wrap .footer .container3 {
	width: 717px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 80px;
}

.footer_wrap .footer .container3 .CodeMain {
	width: 124px;
}

.footer_wrap .footer .container3 img {
	height: 124px;
}

.footer_wrap .footer .container4_wrapper {
	width: 280px;
}

.footer_wrap .footer .container4_wrapper .container4 {
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.footer_wrap .footer .container3 .CodeMainTitle {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.footer_wrap .footer .container4_wrapper .container4 .img_tel {
	margin-bottom: 22px;
}

.footer_wrap .footer .container4_wrapper .container4 p {
	margin-bottom: 6px;
}

/* 服务部分结束 */
/* 页脚 */
.container {
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 50px;
}

/* 页脚结束 */
